.htaccess
/var/cache
/var/logs
/app/logs/
/app/config/parameters.php
/translations/
/localization/
/mails/
/modules/
/defines.inc.php
/admin/
/img/
/cache/
INSTALL.txt
install/
LICENSES
.php_cs.dist
.eslintrc.js
/download/
package-lock.json
composer.lock
docker-compose.yml
/docs/
